{% assign sidebar_config = site.sidebar %}
{% if page.sidebar %}
  {% if page.sidebar == "nav" or page.sidebar == true %}
    {% assign sidebar_config = site.sidebar %}
  {% else %}
    {% assign sidebar_config = page.sidebar %}
  {% endif %}
{% endif %}

{% if page.author_profile or layout.author_profile or sidebar_config %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    {% if sidebar_config %}
      {% if sidebar_config.title %}
        <h3>{{ sidebar_config.title }}</h3>
      {% endif %}
      {% if sidebar_config.text %}
        {{ sidebar_config.text | markdownify }}
      {% endif %}
      {% if sidebar_config.image %}
        <img src="{{ sidebar_config.image | relative_url }}" alt="{% if sidebar_config.image_alt %}{{ sidebar_config.image_alt }}{% endif %}">
      {% endif %}

      {% if sidebar_config.nav %}
        {% include nav_list nav=sidebar_config.nav %}
      {% elsif sidebar_config instanceof Array %}
        {% for s in sidebar_config %}
          {% if s.nav %}
            {% include nav_list nav=s.nav %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}
