{% assign sidebar_config = nil %}
{% if page.url == "/" %}
  {% assign sidebar_config = nil %}
{% elsif page.sidebar == false %}
  {% assign sidebar_config = nil %}
{% elsif page.sidebar %}
  {% if page.sidebar == "nav" or page.sidebar == true %}
    {% assign sidebar_config = site.sidebar %}
  {% elsif page.sidebar != nil and site.data.navigation[page.sidebar] %}
    {% assign sidebar_config = site.data.navigation[page.sidebar] %}
  {% else %}
    {% assign sidebar_config = page.sidebar %}
  {% endif %}
{% elsif site.sidebar %}
  {% assign sidebar_config = site.sidebar %}
{% endif %}

{% if page.author_profile or layout.author_profile or sidebar_config %}
  <div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    {% if sidebar_config %}
      {% if sidebar_config.title %}
        <h3>{{ sidebar_config.title }}</h3>
      {% endif %}
      {% if sidebar_config.text %}
        {{ sidebar_config.text | markdownify }}
      {% endif %}
      {% if sidebar_config.image %}
        <img src="{{ sidebar_config.image | relative_url }}" alt="{% if sidebar_config.image_alt %}{{ sidebar_config.image_alt }}{% endif %}">
      {% endif %}

      {% if sidebar_config.nav %}
        {% include nav_list nav=sidebar_config.nav %}
      {% else %}
        {% include nav_list nav=sidebar_config %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}
